@charset "utf-8";
/* 메인 미디어쿼리 */

/* 최대1300px 이하 사이즈 시작 */
@media (max-width: 1300px) {
  /* 햄버거 버튼 보이기 */
  .btn-ham-close {
    display: block;
  }
  /* 장바구니, 로그인 없어지기 */
  .btn-grp-box {
    display: none;
  }
  .menu-box {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: gray;
    transition: left 0.3s ease-in;
  }
  /* 클래스 on을 주면 메뉴등장 */
  .menu-box.on {
    left: 0;
  }
  .menu-group {
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 10vh;
  }
  .menu-group ul {
    flex-direction: column;
    padding-left: 5vw;
  }

  /* 서브메뉴 */
  .sub-menu {
    position: relative;
  }
}
/* 최대1200px 이하 사이즈 종료 */

/* 최대1024px 이하 사이즈 시작 */
@media (max-width: 1024px) {
  .video-part {
    height: auto;
    aspect-ratio: 12 / 9;
  }
  .perfune-section {
    height: auto;
  }
  .perfune-container {
    flex-direction: column;
    height: auto;
  }
  .perfune-container aside {
    flex-basis: 100%;
    aspect-ratio: 1;
  }
}
/* 최대1024px 이하 사이즈 종료 */

/* 최대800px 이하 사이즈 시작 */
@media (max-width: 800px) {
}
/* 최대800px 이하 사이즈 종료 */
